<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <title>Login page</title>
    <style>

         a{

               margin-left: 700px;
               font-style: oblique;
               text-align: center;

               padding: 0 7em 2em 0;
               border-width: 2px;
             }
         .center {
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                  width: 20%;
                }

    </style>


</head>
     <link rel="stylesheet" href="{% static 'style.css' %}">
     <h3 class="text-center text-primary alert alert-danger">Create a professional CV</h3>

<body>

   <img src="https://static.jobscan.co/blog/uploads/Top-Resume-Keywords-1-600x318.webp" alt="Resume"
        class="center"  >
   <form action="" method="POST" class="alert alert-info text-center" novalidate>
       {% csrf_token %}
       {{form.as_p}}
       <input type="submit" value="Login" style="height:30px;">
   </form>
     <p class="text-center alert alert-info mt-3"> New to login</p>
    <a class="alert alert-danger" href="/signup">signup</a><hr>




</body>
</html>